/* ./style/shadcn.css */

.dark {
    --radius: 0.5rem;

    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-50);

    --card: var(--color-neutral-950);
    --card-foreground: var(--color-neutral-50);

    --popover: var(--color-neutral-900);
    --popover-foreground: var(--color-neutral-50);

    --primary: var(--color-neutral-50);
    --primary-foreground: var(--color-neutral-900);

    --secondary: var(--color-neutral-800);
    --secondary-foreground: var(--color-neutral-50);

    --muted: var(--color-neutral-800);
    --muted-foreground: var(--color-neutral-400);

    --accent: var(--color-neutral-800);
    --accent-foreground: var(--color-neutral-50);

    --destructive: var(--color-red-900);
    --destructive-foreground: var(--color-neutral-50);

    --border: var(--color-neutral-800);
    --input: var(--color-neutral-800);
    --ring: var(--color-neutral-300);

    --chart-1: var(--color-neutral-600);
    --chart-2: var(--color-neutral-700);
    --chart-3: var(--color-neutral-800);
    --chart-4: var(--color-neutral-900);
    --chart-5: var(--color-neutral-950);

    --sidebar-background: var(--color-neutral-900);
    --sidebar-foreground: var(--color-neutral-100);
    --sidebar-primary: var(--color-neutral-800);
    --sidebar-primary-foreground: var(--color-neutral-50);
    --sidebar-accent: var(--color-neutral-700);
    --sidebar-accent-foreground: var(--color-neutral-100);
    --sidebar-border: var(--color-neutral-800);
    --sidebar-ring: var(--color-neutral-600);
}

.light {
    --radius: 0.5rem;

    --background: var(--color-white);
    --foreground: var(--color-neutral-950);

    --card: var(--color-white);
    --card-foreground: var(--color-neutral-950);

    --popover: var(--color-white);
    --popover-foreground: var(--color-neutral-950);

    --primary: var(--color-neutral-900);
    --primary-foreground: var(--color-neutral-50);

    --secondary: var(--color-neutral-100);
    --secondary-foreground: var(--color-neutral-900);

    --muted: var(--color-neutral-100);
    --muted-foreground: var(--color-neutral-500);

    --accent: var(--color-neutral-100);
    --accent-foreground: var(--color-neutral-900);

    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-neutral-50);

    --border: var(--color-neutral-200);
    --input: var(--color-neutral-200);
    --ring: var(--color-neutral-900);

    --chart-1: var(--color-neutral-500);
    --chart-2: var(--color-neutral-600);
    --chart-3: var(--color-neutral-700);
    --chart-4: var(--color-neutral-800);
    --chart-5: var(--color-neutral-900);

    --sidebar-background: var(--color-neutral-100);
    --sidebar-foreground: var(--color-neutral-800);
    --sidebar-primary: var(--color-neutral-700);
    --sidebar-primary-foreground: var(--color-neutral-50);
    --sidebar-accent: var(--color-neutral-300);
    --sidebar-accent-foreground: var(--color-neutral-900);
    --sidebar-border: var(--color-neutral-200);
    --sidebar-ring: var(--color-neutral-600);
}